<div id="gem-form-column">
    
  <%= form_tag create_gem_path, {remote: true, role: "form", id: "gem-it-form"} do %>

    <div class="form-group">

      <div id="gem-methods">
        <br>
        <p class="lead text-center">Grab Your Data</p>
        <div class="fa-icon-container">
          <span><i class="fa fa-align-left"><span>Text</span></i></span>
          <span><i class="fa fa-link"><span>Links</span></i></span>
          <span><i class="fa fa-picture-o"><span>Media</span></i></span>
        </div>
        <div id="last-gem-method">
          <%= label_tag "method_name[]", "Method Name" %>
          <span class="error-message" id="method-name-error" style="display: none;"><br>A method name can't be less than 3 characters.</span>
          <span class="error-message" id="method-name-uniqueness-error" style="display: none;"><br> Method names must be unique.</span>
          <%= text_field_tag "method_name[]", "", :class => "form-control", id: "last-method-field" %><br>
          <%= label_tag "method-data", "Is this the data you want?" %>
          <span class="error-message" id="hidden-input-error" style="display: none;"><br> You must pick a target before adding more fields.</span>
          <p><span class="last-data-field"></span></p>
          <%= hidden_field_tag 'last_path[]', "", :class => "last_path" %>
          <%= hidden_field_tag 'method_datatypes[]', "", :class => "method_datatypes" %>
        </div>
        <i class="fa fa-plus-square-o"><span> Get More Data</span></i>
        <i class="fa fa-minus-square-o"><span> Reset Form</span></i><br><br>
        <div class="panel-footer">
          <button type="button" class="btn btn-grey btn-lg btn-block switch-to-gem-it">Next</button>
        </div>
      </div>

      <div id="gem-info">
        <br>
        <%= label_tag :repo_name, "Repo Name" %>
        <span class="error-message" id="hidden-repo-error" style="display: none;"><br> Your repo must be longer than 3 characters.</span>
        <span class="error-message" id="hidden-repo-name-error" style="display: none;"><br> This repo name already exists on your account.</span>
        <%= text_field_tag :repo_name, "", :class => "form-control" %><br>
        <%= label_tag :gem_name, "Gem Name" %>
        <span class="error-message" id="hidden-gem-error" style="display: none;"><br> Your gem must be longer than 3 characters.</span>
        <%= text_field_tag :gem_name, "", :class => "form-control" %><br>
        <%= label_tag :description, "Description" %>
        <span class="error-message" id="hidden-description-error" style="display: none;"><br> Descriptions must be at least 15 characters long.</span>
        <%= text_field_tag :description, "", :class => "form-control" %><br>
        <%= label_tag :email, "Email" %>
        <span class="error-message" id="hidden-email-error" style="display: none;"><br> Not a valid email.</span>
        <%= text_field_tag :email, "", :class => "form-control" %><br>
        <%= hidden_field_tag :url, @page %>
        <div class="panel-footer">
          <%= button_tag "Gem It", type: "button", :class => "btn btn-grey btn-lg btn-block gem-it-btn" %>
        </div>
      </div>

      <div id="css-info" style="display: none;">
        <br>
        <p class="lead text-center fa-css-header">Find Some Computed CSS</p>
        <div class="fa-icon-container fa-css-it">
          <span><i class="fa fa-css3"><span>CSS</span></i></span>
        </div>
        <p class="lead computed-css">
          Click anywhere on the left-side screen to see all the active CSS styling on an element.
          Copy and paste what we find into your CSS file because we won't save it for you.
        </p>
      </div>

    </div>
  <% end %>

</div>

