<%= render "navbar" %>
<%= link_to "Sign in with Github", "/auth/github" if !session[:token] %>
<%= render "header" %>

<div id="iframe-and-form">
  <%= render "iframe" %>
  <%= render "right_side_column" %>
</div>
<%= render "footer" %>