<!DOCTYPE html>
<html>
  <head>
    <title>Gem It</title>
    <%= favicon_link_tag "gem_it_favicon_1.ico" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <!--<script src="http://www.gitshoes.com/repos/16.js" type='application/javascript'></script>-->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- partials are in application/ rails wants it so -->
    <%= render "navbar" %>
    <%= yield %>
    <%= render "footer" %>
  </body>
</html>